table {
    border: 1px solid;
}
 
th {
    border-bottom: 1px solid black;
}
 
td {
    text-align: center;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}